# Production Environment
REACT_APP_API_URL=https://app.geohod.ru/api/v1
REACT_APP_BOT_USERNAME=geohod_bot
VITE_BOT_USERNAME=geohod_bot
NODE_ENV=production
REACT_APP_TELEGRAM_WEBAPP=true
GENERATE_SOURCEMAP=false

# Development Environment
# REACT_APP_API_URL=https://dev-app.geohod.ru/api/v1
# REACT_APP_BOT_USERNAME=geohod_dev_bot
# VITE_BOT_USERNAME=geohod_dev_bot
# NODE_ENV=development
# REACT_APP_TELEGRAM_WEBAPP=true
# GENERATE_SOURCEMAP=true
